@import "../extends.scss";
@import "../mixins.scss";
@import "../variables.scss";

// Color
$bg-clr: hsl(0, 0%, 45%);

// Grid
$header-g-cols: 360px 1fr 360px;

header {
  background-color: $bg-clr;

  @include g-box-t-cols($header-g-cols);

  .comp.logo {
    @extend .f-box-r-c-c;
    @extend .heading-no-space;
    @extend .link;
    @extend .no-select;

    .content {
      color: hsl(0, 0%, 95%);
      font-family: $ft-logo;
      font-size: 1.25em;
      font-weight: 400;
    }
  }

  .comp.session {
    .outer {
      position: relative;
      @extend .no-list-style-space;
      @extend .pos-v-middle;
    }
    ul.item-list {
      @extend .f-box.r-e-c;
    }
    li.item {
      display: inline-block;
      color: white;
      padding: 0 8px;
      &:not(:first-of-type) {
        border-left: 1px solid hsl(0, 0%, 80%);
      }
      &:hover {
        color: hsl(0, 0%, 80%);
      }
    }
    .item-inner {
      position: relative;
      @extend .f-box.r-e-c;
      @extend .no-select;
      cursor: pointer;
    }
    .icon-box {
      color: white;
      font-size: 0.75em;
      box-shadow: 0 0 0 1px black;
    }
    .content-box {
      padding-left: 6px;
      color: inherit;
      font-size: 0.75em;
      font-family: $ft-main;
      text-transform: capitalize;
    }
  }
}
