@import "../../variables.scss";
@import "../../mixins.scss";

$r_doc__main_size__height: auto;
$r_doc__main_bg__color: hsl(0, 0%, 100%);

$r_doc__main_aside__width: $r_doc__main_activity_bar__width +
  $r_doc__main_side_bar__width;

@mixin r_doc__main__box_model {
}

main.r_doc {
  &,
  * {
    box-sizing: border-box;
  }

  & {
    flex-grow: 1;
    height: $r_doc__main_size__height;
    background-color: $r_doc__main_bg__color;
    padding: 0.25rem;
    display: flex;
  }

  aside {
    position: relative;
    // height: calc(100vh - 4rem);
    display: flex;
  }

  section {
    & {
      position: relative;
      flex-grow: 1;
    }

    .wrapper_article {
      & {
        width: 100%;
        padding-top: 0.25rem;
        @include setting__flex_CCS;
      }

      article {
        & {
          width: 90%;
        }

        .editor_area {
          background-color: antiquewhite;
        }
      }
    }
  }

  .wrapper_top_menu {
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    border-bottom: $common__border__basic;
  }
}
