@import "../../variables.scss";
@import "../../mixins.scss";

.wrapper_doc_menu {
  &,
  * {
    box-sizing: border-box;
  }

  & {
    width: 6rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .fas {
    font-size: 1.25rem;
  }
  .fab {
    font-size: 1.25rem;
  }
}
