@import "../../mixins.scss";
@import "../../variables.scss";

$side_bar__width: 20rem;
$side_bar__height: 100%;
$side_bar__bg_color: hsl(0, 0%, 100%);
$side_bar__menu_icon__length: 1.5rem;

.side_bar {
  &,
  * {
    box-sizing: border-box;
  }

  & {
    position: relative;
    width: $side_bar__width;
    height: $side_bar__height;
    box-shadow: 0 0 0 1px hsla(0, 0, 0, 0.4);
    padding: 0.25rem;
    @include setting__flex_CSS;
  }
  .menu_bar {
    & {
      width: 100%;
      top: 0;
      box-shadow: 0 0 0 1px hsla(0, 0, 0, 0.4);
      padding: 0.125rem;
      @include setting__flex_REC;
    }

    & > i {
      width: $side_bar__menu_icon__length;
      height: $side_bar__menu_icon__length;
      // box-shadow: 0 0 0 1px hsla(0, 0, 0, 0.4);
      border-radius: 5px;
      @include setting__flex_RCC;

      font-size: 1.25rem;

      &:hover {
        background-color: hsla(0, 0, 0, 0.1);
      }

      &.state__mouse_down {
        box-shadow: 0 0 0 1px hsla(0, 0, 0, 0.4);
      }
    }
  }
  & > ul {
    & {
      width: 100%;
      box-shadow: 0 0 0 1px hsla(0, 0, 0, 0.1);

      margin: 0;
      padding-top: 0.25rem;
      padding-left: 1rem;
      padding-right: 0.5rem;

      list-style-type: none;
    }
  }

  // & > ul {
  //   margin: 0.5rem 0;
  //   border: 1px solid black;
  //   padding: 0 0.5rem;
  //   list-style-type: none;
  //   // display: flex;
  //   display: none;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: center;

  //   i {
  //     margin-right: 5px;
  //   }

  //   span {
  //     margin: 0;
  //     padding: 0;
  //   }
  // }

  & > ul > li.adding_doc {
    & {
      display: none;
    }

    input {
      width: 100%;
      height: 1.125rem;
    }
  }

  & > ul > li.adding_doc.active {
    & {
      display: flex;
      align-items: center;
    }
  }
}
