@import "../../mixins.scss";
@import "../../variables.scss";

.comp_menu__search_list {
  // Static
  position: absolute;
  top: 100%;
  left: 8px;
  right: 16px;
  background-color: white;
  border-radius: 8px;

  ul {
    margin: 0;
    padding: 0.25rem 0.5rem;
    display: none;

    &.parent_state__focus {
      display: block;
    }
  }

  li {
    list-style-type: none;
    padding: 0.5rem;
    color: black;
    @include flex-RSC;

    &:not(:last-of-type) {
      border-bottom: 1px solid black;
    }
    &:hover {
      background-color: hsl(0, 0%, 97%);
    }
  }
}
