.comp_search_list__header {
  position: absolute;
  top: 100%;
  left: 8px;
  right: 16px;
  background-color: white;
  border-radius: 8px;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    // list-style-type: none;
    border-bottom: 1px solid black;
    padding: 0;
  }
}
