@import "../../mixins.scss";
@import "../../variables.scss";

$doc_elem__width: 80%;

@mixin inner__pos_center {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.comp_doc {
  &.outer {
    width: $doc_elem__width;
    height: auto;
    @include bs__a(0.4);
  }

  .inner {
    @include inner__pos_center;

    width: 100%;
    height: 100%;

    @include bs__a(0.4);
  }
}
