@import "../../mixins.scss";
@import "../../variables.scss";

section.r__id__doc {
  position: relative;
  flex-grow: 1;
  // @include bs__a(0.4);
  margin: 0.5rem;
  padding: 0.25rem;
  @include setting__flex_CCS;

  article:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}
