@import "../../mixins.scss";
@import "../../variables.scss";

article.tool_bar {
  & {
    width: 100%;
    height: 2.25rem;
    // background-color: gray;
    @include bs__a(0.4);
    // margin-bottom: 3rem; // index.scss에서 설정하여 적용안됌.
    display: flex;
    box-shadow: 0 0 0 1px hsla(0, 0, 0, 0.4), 0 2px 8px hsla(0, 0, 0, 0.1);
  }
}
