* {
  box-sizing: border-box;
}

// ELEMENT
body {
  margin: 0;
}

input,
textarea,
button {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

// SEMANTIC
// header {
//   grid-area: header;
// }

// main {
//   grid-area: main;
// }

// section {
//   grid-area: section;
// }

// aside {
//   grid-area: aside;
// }

// footer {
//   grid-area: footer;
// }

// CLASS
.rel {
  position: relative;
}

.abs {
  position: absolute;
}

// EXTEND
%reset-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  legend {
    user-select: none;
  }
}

%reset-label {
  user-select: none;
}

%reset-button {
  outline: none;
  border: none;
  background-color: transparent;
}

%rs-input {
  position: relative;
  @include square-size(100%);
  outline: none;
  border: none;
  padding: 0 6px;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

%rs-link-text {
  color: inherit;
  text-decoration: none;
}


%rs-button {
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}