@import "../mixins.scss";
@import "../variables.scss";

$size__h: 100%;

$size__w__section: auto;
$size__w__left_aside: 192px;
$size__w__right_aside: 192px;

main {
  &,
  * {
    box-sizing: border-box;
  }

  position: relative;
  background-color: $bg__clr__main;
  padding: 16px 16px;
  display: grid;
  grid-template-columns: $size__w__left_aside $size__w__section $size__w__right_aside;
  gap: 16px;

  & > * {
    // @include bs__a(0.1);
  }

  & > aside {
    background-color: $bg__clr__aside;
    @include bs__a(0.1);
  }
}

@include mobile {
  main {
    grid-template-columns: $size__w__section;
    & > aside {
      display: none;
    }
  }
}

@include tablet {
  main {
    grid-template-columns: $size__w__section;
    & > aside {
      display: none;
    }
  }
}

@include laptop {
  main {
    grid-template-columns: $size__w__left_aside $size__w__section;
    & > aside.right {
      display: none;
    }
  }
}

@include desktop {
  grid-template-columns: $size__w__left_aside $size__w__section $size__w__right_aside;
}
