@import "../../../../../mixins.scss";
@import "../../../../../variables.scss";

.comp_explorer_layer {
  &,
  ul {
    margin: 0;
    li {
      list-style-type: none;
    }
  }
  p {
    margin: 0;
  }

  position: relative;
  // padding: 1rem 0;
  padding: 0;

  .box {
    position: relative;
    height: 24px;
    border: 1px solid transparent;
    @include flex-RSC;
    padding: 0 1rem;
    cursor: pointer;
    @include no_drag__txt;
    // @include link__none_effect;

    & > a {
      @include flex-RSC;
      text-decoration: none;
    }

    .fold_icon {
      position: absolute;
      left: 2px;
      width: 12px;
      height: 12px;
      font-size: 10px;
      @include flex-RCC;
      // pointer-events: none;
    }

    .icon {
      margin-right: 0.5rem;
    }

    .name {
      font-size: 0.75rem;
      font-family: $common__font__sub;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:not(:last-of-type) {
      // margin-bottom: 0.5rem;
    }

    &.click {
      &::before {
        // 눌러지면 파랗게
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: hsla(236, 100%, 66%, 0.103);
        box-shadow: 0 0 0 1px hsl(236, 100%, 79%);
      }
    }
    &.no_click {
    }

    &:not(.click).active {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: hsla(0, 0%, 0%, 0.05);
      }
    }

    &.input {
      padding-right: 0;
      input {
        margin: 0;
      }

      &.no_display {
        display: none;
      }

      &:not(:focus-within) {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
  }

  .sub_tree_list_box {
    &.fold {
      display: block;
    }
    &.unfold {
      display: none;
    }
  }

  .range {
    position: relative;
    margin-left: 4px;
    padding-left: 12px;
    border-left: 1px solid hsla(0, 0%, 0%, 0.1);

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      bottom: 0;
      width: 1px;
      height: 6px;
      // background-color: inherit;
      background-color: white;
    }
  }

  .sub_tree {
    .p_node {
      &:hover {
        background-color: hsla(0, 0%, 90%, 0.7);
        & + .c_node_list {
          background-color: hsla(0, 0%, 80%, 0.1);

          &,
          & .c_node_list {
            &::before {
              background-color: hsla(0, 0%, 80%, 0.1);
            }
          }
        }
      }
    }
  }

  .input_box {
    padding-left: 1rem;
    // padding-right: 1px;
  }
  input {
    position: relative;
    width: 100%;
    outline: none;
    // border: 1px solid hsl(236, 100%, 79%);
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px hsl(236, 100%, 79%);
    margin-bottom: 0.5rem;
    display: block;
    // padding: 0.25rem 0.5rem;

    &:focus {
      box-shadow: 0 0 1px hsl(236, 100%, 79%);
    }
  }
}
