.link {
  a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
  }

  &.logo {
    &:link,
    &:visited,
    &:hover,
    &.active {
      text-decoration: none;
    }
  }

  &.node /* 문서, 폴더*/ {
    &:link,
    &:visited,
    &:hover,
    &.active {
      text-decoration: none;
    }
  }
}

.heading-no-space {
  h1,
  h2,
  h3 {
    margin: 0;
  }
}

.f-box-r-c-s {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.f-box-r-c-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pos-v-middle {
  top: 50%;
  transform: translateY(-50%);
}

.f-box {
  &.r-s-s {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &.r-s-c {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  &.r-c-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &.r-e-c {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  &.r-c-e {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-list-style-space {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}
