.link {
  a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
  }

  &.logo {
    &:link,
    &:visited,
    &:hover,
    &.active {
      text-decoration: none;
    }
  }

  &.node /* 문서, 폴더*/ {
    &:link,
    &:visited,
    &:hover,
    &.active {
      text-decoration: none;
    }
  }
}

.heading-no-space {
  h1,
  h2,
  h3 {
    margin: 0;
  }
}

.f-box-r-c-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
