@mixin r_doc__main_flex__setting {
  @include setting__flex_CCS;
}

@mixin setting__flex_RCC {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin setting__flex_REC {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin setting__flex_CSS {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin setting__flex_CCS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin setting__flex_CCC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin setting__flex_CSC {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
