@import "extends.scss";
@import "mixins.scss";
@import "variables.scss";

$size-h-search-form: 44px;

.comp.search {
  form {
    position: relative;
    width: 561px;
    height: $size-h-search-form;
    .wrap-bar {
      background-color: white;
      border: 2px solid hsl(0, 0%, 70%);
      border-radius: 16px;
      overflow: hidden;
      // display: flex;
      // align-items: center;

      // Hover, Focus
      &:hover:not(.s-focus) {
        box-shadow: 0 0 1px 1px hsl(0, 0%, 90%);
      }
      &.s-focus {
        box-shadow: 0 0 1px 1px hsl(0, 0%, 90%);
        border-radius: 8px;
      }

      .bar {
        position: relative;
        // width: 100%;
        @extend .f-box-r-c-c;
        padding: 1px 44px 1px 44px;

        .search-input {
          position: relative;
          outline: none;
          border: none;
          padding: 8px 0;
          flex-grow: 1;
          font-size: 1rem;
        }

        .icon-box {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          border: 1px solid black;

          &.search {
            left: 16px;
          }

          &.tool {
            right: 16px;
          }
          i.icon {
            // icon.
          }
        }

        .icon-box-list {
          @extend .no-list-style-space;

          ul {
            margin: 0;
            padding: 0;
            li {
              list-style-type: none;
            }
          }
        }
      }
    }
  }

  .comp.search-items {
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    // box-shadow: 0 0 0 1px black;

    @extend .no-list-style-space;
    @extend .link;
    font-size: 1em;

    &.outer {
      padding: 4px 1px 8px 1px;
    }

    .item {
      &:not(:last-of-type) {
        border-bottom: 1px solid hsl(0, 0%, 90%);
      }
    }

    .item-inner {
      position: relative;
      padding: 4px 4px;

      &:hover {
        background-color: hsla(207, 100%, 76%, 0.5);
      }

      .icon-box {
        position: absolute;
        left: 16px;
        box-shadow: 0 0 0 1px black;
      }
      .content-box {
        padding-left: 44px;
      }
    }
  }
}
