@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Ubuntu Condensed', sans-serif;

// Layout
$header-g-cols: auto auto auto;
$main-g-cols: auto auto auto;
$footer-g-cols: auto auto auto;

$bg__clr__main: hsl(0, 0%, 85%);
$bg__clr__section: hsl(0, 0%, 95%);
$bg__clr__aside: hsl(0, 0%, 99%);

// Common
$common__font__main: "Ubuntu", sans-serif;
$common__font__sub: "Ubuntu Condensed", sans-serif;
$common__border__basic: 1px solid black;

$common__black_a1: hsla(0, 0%, 0%, 0.1);
$common__black_a2: hsla(0, 0%, 0%, 0.2);
$common__black_a3: hsla(0, 0%, 0%, 0.3);
$common__black_a4: hsla(0, 0%, 0%, 0.4);

// Route Root

// $r_root__wrapper__bg__color: hsla(0, 18%, 53%, 0.2);
$r_root__header_bg__color: hsl(0, 0%, 97%);
$r_root__footer_bg__color: hsl(0, 0%, 97%);

$r_root__header_font__main: "Ubuntu", sans-serif;
$r_root__header_font__sub: "Ubuntu Condensed", sans-serif;

$r_root__footer_font__main: "Ubuntu", sans-serif;
$r_root__footer_font__sub: "Ubuntu Condensed", sans-serif;

$r_root__main_bg__color: hsl(0, 0%, 100%);
$r_root__main__login_container_bg__color: hsl(0, 0%, 100%);
$r_root__main__login_font__main: "Ubuntu", sans-serif;
$r_root__main__login_font__sub: "Ubuntu Condensed", sans-serif;
$r_root__main__login_button_border__color: hsl(0, 0%, 20%);
$r_root__main__login_button_bg__color: inherit;
$r_root__main__login_button_font__color: hsl(0, 0%, 20%);

// Route User

// Route User:ID

// Route Documentation

$r_doc__main_activity_bar__width: 3rem;
$r_doc__main_activity_bar__bg_color: hsl(0, 0%, 100%);

$r_doc__main_side_bar__width: 10rem;
$r_doc__main_side_bar__bg_color: hsl(0, 0%, 100%);

/**
 * Media Queries
 */
// aside: ~425px 100%
// main:

$mq_mb__s: 320px;
$mq_mb__m: 375px;
$mq_mb__l: 425px;

$mq_tb: 768px;

$mq_nb: 1024px;
$mq_mb__l: 1440px;

$mq_4k: 2560px;

$size__h__header_footer: 68px;
$padding__main: 32px;

$padding__section: 16px;

$size__h__minus_sum__to_section: $size__h__header_footer + $padding__main + $padding__section;

$padding__explorer: 16px;
$size__h__tool: 22px;
$size__h__hr: 17px;
$size__h__minus_sum: $size__h__tool + $size__h__hr + $size__h__header_footer + $padding__main + $padding__explorer;
