@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Ubuntu Condensed', sans-serif;

// Common
$common__font__main: "Ubuntu", sans-serif;
$common__font__sub: "Ubuntu Condensed", sans-serif;
$common__border__basic: 1px solid black;

// Route Root

// $r_root__wrapper__bg__color: hsla(0, 18%, 53%, 0.2);
$r_root__header_bg__color: hsl(0, 0%, 97%);
$r_root__footer_bg__color: hsl(0, 0%, 97%);

$r_root__header_font__main: "Ubuntu", sans-serif;
$r_root__header_font__sub: "Ubuntu Condensed", sans-serif;

$r_root__footer_font__main: "Ubuntu", sans-serif;
$r_root__footer_font__sub: "Ubuntu Condensed", sans-serif;

$r_root__main_bg__color: hsl(0, 0%, 100%);
$r_root__main__login_container_bg__color: hsl(0, 0%, 100%);
$r_root__main__login_font__main: "Ubuntu", sans-serif;
$r_root__main__login_font__sub: "Ubuntu Condensed", sans-serif;
$r_root__main__login_button_border__color: hsl(0, 0%, 20%);
$r_root__main__login_button_bg__color: inherit;
$r_root__main__login_button_font__color: hsl(0, 0%, 20%);

// Route User

// Route User:ID

// Route Documentation

$r_doc__main_activity_bar__width: 3rem;
$r_doc__main_activity_bar__bg_color: hsl(0, 0%, 100%);

$r_doc__main_side_bar__width: 10rem;
$r_doc__main_side_bar__bg_color: hsl(0, 0%, 100%);
