$dis-f-map: (
  row: row,
  col: column,
  s: flex-start,
  c: center,
  e: flex-end,
  sp-a: space-around,
  sp-b: space-between,
  sp-e: space-evenly,
  stretch: stretch,
  w: wrap,
);

$dis-g-map: (
  rows: grid-template-rows,
  cols: grid-template-columns,
  s: start,
  c: center,
  e: end,
  sp-a: space-around,
  sp-b: space-between,
  sp-e: space-evenly,
  stretch: stretch,
);