.outer {
  @include outer(absolute);
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.3);
  z-index: 4;
}

.inner {
  $c-inner: &;

  @include inner(relative);

  padding: 16px;
  background-color: white;
  z-index: 2;

  box-shadow: 0 0 0 2px hsla(0, 0%, 0%, 0.4), 0 0 0 4px hsla(0, 0%, 0%, 0.2), 0 0 0 6px hsla(0, 0%, 0%, 0.1),
    0 0 8px hsla(0, 0%, 0%, 0.1);

  &__btn__close {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;

    #{$c-inner}:hover & {
      opacity: 1;
      transition-duration: 0s;
    }
  }
}

.box.button.close {
  $size: 20px;
  $size__hover: 30px;

  //POS
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-30%, 30%);
  transform-origin: center;

  //BOX
  border-radius: 50%;
  @include square-size($size);
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1);

  //INNER
  // background-color: hsla(0, 0, 100%, 0.1);
  @include dis-f(row, c, c);
  cursor: pointer;

  button {
    outline: none;
    border: none;
    background-color: transparent;
    pointer-events: none;
  }

  // EVT
  &:hover {
    // transform: translate(-30%, 30%) scale(1.2);
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.3);
    transition: 1s;
  }
}
