.map.search {
  & {
    position: relative;
    border-top: 1px solid black;
    padding: 0 6px;
    background-color: #f6f7fa;
  }

  .region.top {
    position: relative;
    height: 32px;
    @include dis-f(row, s, c);

    .box.title {
      h3 {
        @extend %no-space;

        @extend %font-common;
        font-size: 1rem;
        font-weight: 400;

        @extend %text-common;
        line-height: 24px;
      }
    }
  }

  .region.container.mid {
    & {
      position: relative;
    }

    form {
      .box.input {
        position: relative;
        border: 1px solid black;

        line-height: 24px;

        @extend %font-common;
        color: inherit;
        font-size: 1rem;

        @include dis-f(row, stretch, c);

        input {
          @extend %rs-input;
          &:focus {
          }
        }
      }
      
      .box.image.inp_key {
        div {
          color: rgb(42, 42, 42);
          pointer-events: none;
          user-select: none;
        }
      }
    }
  }

  .area.bot {
    position: relative;
    @extend %font-common;
    font-size: 1rem;
    font-weight: 300;

    .site {
      margin-bottom: 16px;
      &.page {
      }

      &.doc {
      }
    }

    .title {
      h3 {
        margin: 0;

        @extend %font-common;
        font-size: 1rem;
        font-weight: 400;

        @extend %text-common;
        line-height: 2rem;
      }
    }

    .ulist {
    }

    .item {
      position: relative;

      &:hover::before {
        content: " ";
        position: absolute;
        inset: 0;
        background-color: hsla(0, 0%, 50%, 0.1);
      }

      a {
        position: relative;
        color: inherit;
        line-height: 1.5rem;
        text-decoration: none;
        @extend %font-common;
        @include dis-g(cols, 1fr 1fr 1fr);
      }

      div {
        overflow: hidden;
        text-overflow: ellipsis;

        &:nth-of-type(1) {
          @include dis-f(row, s, c);
        }
        &:nth-of-type(2) {
          @include dis-f(row, c, c);
        }
        &:nth-of-type(3) {
          @include dis-f(row, e, c);
        }
      }

      &:hover a > div :nth-of-type(1) {
        text-decoration: underline;
      }
    }
  }
}
