@import "../../../mixins.scss";
@import "../../../variables.scss";

$size__h__tool: 24px;
$size__h__hr: 17px;
$size__h__header_footer: 68px;
$padding__main: 32px;
$padding__left_asdie: 16px;
$size__h__minus_sum: $size__h__tool + $size__h__hr + $size__h__header_footer +
  $padding__main + $padding__left_asdie;

aside.left {
  position: relative;
}

// aside.left {
//   position: relative;
//   padding: 0.5rem;

//   // display: flex;
//   // flex-direction: column;

//   display: grid;
//   grid-template-rows: $size__h__tool $size__h__hr calc(
//       100vh - #{$size__h__minus_sum}
//     );

//   hr {
//     margin: 8px 0;
//     border: none;
//     border-bottom: 1px solid black;
//     box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.2);
//     // @include bs__a(0.4);
//   }
// }
