$main-g-cols: 160px 0 1fr;
$aside-g-cols: 48px 1fr;
$nav-g-rows: 1fr 1fr;

main {
  position: relative;
  @include dis-g(cols, $main-g-cols);
  height: 100vh;
}

aside {
  position: relative;
  @include dis-g(cols, $aside-g-cols);

  nav {
    position: relative;
    @include dis-g(rows, $nav-g-rows);
  }
}

section {
  position: relative;
  height: 100%;
}