@import "../../../../../mixins.scss";
@import "../../../../../variables.scss";

.comp_explorer_tool {
  // position: relative;
  // margin: 2rem;
  // width: 100px;
  // height: 100px;
  // background-color: hsla(0, 0%, 0%, 0.5);

  .a-row {
    @include flex-REC;
    .col:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }

  .icon {
    width: 22px;
    height: 22px;
    @include bs__a(0.2);
    border-radius: 10%;
    @include flex-RCC;
    color: black;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: hsla(0, 0%, 0%, 0.05);
      transition-duration: 0.3s;
    }

    &.state__mouse_down {
      background-color: hsla(0, 0%, 0%, 0.1);
      @include bs__a(0.4);
      transition-duration: 0.3s;
    }
  }
}
