@import "../../mixins.scss";
@import "../../variables.scss";

section {
  position: relative;
  min-height: calc(100vh - #{$size__h__minus_sum__to_section});
  background-color: $bg__clr__section;
  overflow: auto;

  &::-webkit-scrollbar {
    position: absolute;
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 60%);
  }
  &::-webkit-scrollbar-track {
    background-color: inherit;
  }
}
