@import "../extends.scss";
@import "../mixins.scss";
@import "../variables.scss";

$size__w: 100%;
$size__h: 2.125rem;
$bg__clr: hsl(0, 0%, 20%);
$ft__clr: white;

$grid_cols__default: 300px auto 300px;
$grid_cols__mobile: auto;
$grid_cols__tablet: auto;

header {
  * {
    box-sizing: border-box;
  }

  position: relative;
  width: $size__w;
  height: $size__h;
  box-shadow: 0 0 0px hsla(0, 0%, 0%, 1);

  @include grid-C_C($grid_cols__default);

  background-color: $bg__clr;
  color: $ft__clr;
}

@include mobile {
  header {
    @include grid-C_C($grid_cols__mobile);
  }
}

// grid-column
// grid-row
// grid-area
