@import "../extends.scss";
@import "../mixins.scss";
@import "../variables.scss";

.comp_logo__header {
  @include flex-RCC;
  @include link__none_effect;

  .logo_txt {
    display: inline;
    font-family: $common__font__sub;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1px;
    @include no_drag__txt;
    cursor: pointer;
  }
}
