@import "../../mixins.scss";
@import "../../variables.scss";

$r_doc__wrapper_button__bg_color: hsl(102, 60%, 30%);

.wrapper_button.r_doc {
  & {
    position: relative;
    width: 3.5rem;
    height: 1.75rem;
    background-color: $r_doc__wrapper_button__bg_color;
    margin-left: auto;
    border: 1px solid $r_doc__wrapper_button__bg_color;
    border-radius: 3px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75rem;
  }
}
